.container--rules {
  padding: 80px 24px;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media (min-width: $md) {
    padding: 80px 120px;
  }
}

.box--rules {
  display: flex;
  flex-direction: column;
}

.row--rule-title {
  align-self: center;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 48px;
  @media (min-width: $md) {
    margin-bottom: 90px;
  }
}

.text--rule-title {
  font-weight: 900;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  @media (min-width: $md) {
    font-size: 64px;
  }
}

.text--item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: white;
}

.text--item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #f7f7f8;
}

.column-rule {
  display: grid;
  padding-top: 24px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 80px;
  row-gap: 64px;

  @media (min-width: $md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.column--rule-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 540px;
}
