.btn--gradient {
  background: linear-gradient(96.75deg, #a12bbe 0%, #5928b1 50%, #1297c0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 12px 48px;
  font-weight: 600;
  font-size: 20px;
}
